/.DS_Store
/01_Pivot_Table.ipynb
/02_Index_Management.ipynb
/03_exercise_job_demand.ipynb
/04_merge_dataframes.ipynb
/05_concat & export_df.ipynb
/06_Applying_Functions.ipynb
/07_Exercise: Trending_skills.ipynb
/08_Matplotlib : Subplots.ipynb
/09_Matplotlib: Pie-Charts.ipynb
/10_Matplotlib: Scatter Plot.ipynb
/11_Advance Customizations.ipynb
/12_BoxPlots.ipynb
/13_Exercise_Skill_Pay.ipynb
/14_Seaborn.ipynb
/Assets
/practice_file.py